<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
<tr>
    <th>ID</th><th>MARK</th><th>MODEL</th><th>ACTION</th>
</tr>
<tr>
<tr th:each="car: ${cars}">
<td th:text="${car.getId()}"></td>
<td th:text="${car.getMark()}"></td>
<td th:text="${car.getModel()}"></td>
<td><a th:href="@{/update-car/{id}(id=${car.getId()})}">update</a></td>
<td><a th:href="@{/delete-car/{id}(id=${car.getId()})}">delete</a></td>
</tr>
</table>

ADD CAR
<form th:action="@{/add-car}" th:method="POST" th:object="${newCar}">
    ID:<input type="text" th:field="*{id}">
    MARK:<input type="text" th:field="*{mark}">
    MODEL:<input type="text" th:field="*{model}">
    <input type="submit" value="Add new car">
</form>



</body>
</html>
